@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .blank_row
    {
        height: 30px; /* overwrites any other rules */
        background-color: #FFFFFF;
    }
    .ptable{
        margin-top: 100px;
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="ptable">
    <table>
        <tr colspan="2">
            <td><h2 class="text-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;Hospital Admin Successfully Added</h2></td>
        </tr>
        <tr class="blank_row">
            <td></td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-primary" href="/HospitalAdmin/HospitalAdminSignUp"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;Add another Hospital Admin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-default" href="/HospitalAdmin/HospitalAdminLogin"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;Admin Login</a>
            </td>
        </tr>
    </table>
</div>