@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Explore Health Centres</h1>
    <p class="lead">Explore and experience Health Services and centres near you</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
