@{
    ViewBag.Title = "Home Page";
}
<style>
    .spacing {
        height: 100px;
    }
</style>
<div class="jumbotron">
    <h1>Synergy - Explore Health Centers And Specialists Near You</h1>
    <div class="spacing"></div>
    <p class="lead">Synergy  is a company that provides convenient packaged services designed for the individual who is seeking cost-effective medical and wellness programs at mere his/her fingertips</p>
</div>
