
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .mycontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
    }
    .btn-1{
        background-color: #2e86ab;
        width: 40%;
        color: white;
        border: 2px solid black;
    }
    .gap {
        height: 25px;
    }
</style>

<h2 class="text-center">Login</h2><br/><br/>

<div class="mycontainer">
    <a href="/HospitalAdmin/HospitalAdminLogin/" class="btn btn-1">Login as Hospital Admin</a>
    <div class="gap"></div>
    <a href="/Doctor/DoctorLogin/" class="btn btn-1">Login as Doctor</a>
    <div class="gap"></div>
    <a href="/Patient/PatientLogin/" class="btn btn-1">Login as Patient</a>
    <div class="gap"></div>
    <a href="/Admin" class="btn btn-1">Login as Super User</a>
</div>