
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .mycontainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 500px;
    }

    .btn-1 {
        background-color: grey;
        width: 50%;
        color: white;
        border: 2px solid black;
    }
</style>

<h2 class="text-center">Register</h2><br/><br/>

<div class="mycontainer">
    <a href="/HospitalAdmin/HospitalAdminSignUp/" class="btn btn-1">Register as Hospital Admin</a>
    <a href="/Doctor/DoctorSignUp/" class="btn btn-1">Register as Doctor</a>
    <a href="/Patient/PatientSignUp/" class="btn btn-1">Register as Patient</a>
</div>